@page "/Factura"
<h1 class="text-center" style="color:blue">Factura</h1>

<div class"form-group row">
    <div class="col-sm-2">
        <a href="/Factura/Nuevo" class="btn btn-outline-primary">Crear Nueva Factura</a>
    </div>
</div>






